{% comment %} tagcloud(min_font, max_font, amount, color, start_color, end_color) {% endcomment %}
{% capture tagcloud %}
  {% assign tags = site.tags %}
  {% assign max = max_font %}
  {% assign min = min_font %}
  {% assign sizes = '' | split: '' %}
  {% assign unit = 'px' %}
  {% assign start_color = start_color | split: ',' %}
  {% assign end_color = end_color | split: ',' %}

  {% for tag in tags %}
    {% if forloop.index > amount %}
      {% break %}
    {% endif %}
    {% assign sizes = sizes | push: tag[1].size %}
  {% endfor %}

  {% assign sizes = sizes | uniq | sort %}
  {% assign length = sizes.size | minus: 1 %}

  {% for tag in tags %}
    {% assign tag_url_encode = tag[0] | url_encode | replace: '+', '%20' %}
    <a href="{{ '/tag/#/' | relative_url | append: tag_url_encode }}" style="{{ style }}">{{ tag[0] }}</a>
  {% endfor %}

{% endcapture %}
{% assign tagcloud = tagcloud | normalize_whitespace %}
